@import "../../global.scss";

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem auto;
  & article {
    margin: 3rem 0;
  }

  @include desktop {
    justify-content: space-around;
  }
}
