$col-1: rgb(28, 7, 51);
$col-2: rgb(242, 239, 245);
$col-3: rgb(66, 27, 107);
$header-font: "Arvo", serif;
$body-font: "Lato", sans-serif;
$border-radius-small: 0.8rem;

@mixin flex-a {
  display: flex;
  align-items: center;
}

@mixin flex-j {
  display: flex;
  justify-content: center;
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}
