@import "../../global.scss";
.repos {
  display: grid;
  grid-gap: 2rem;

  @include desktop {
    margin: 0 auto;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 1fr;

    svg {
      border-radius: 0.5rem;
    }
  }
}
