@import "../../global.scss";
.repos {
  display: grid;
  grid-gap: 2rem;
  width: 100%;

  @include desktop {
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

    svg {
      border-radius: 0.5rem;
    }
  }
}
